﻿@model GoFetchAPI.Models.Itinerary

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Itinerary</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @id="startTime"} })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="type">
                    <option value="1">4 hours</option>
                    <option value="2">8 hours</option>
                    <option value="3">Unlimited</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Way of Transportation</label>
            <div class="col-md-10">
               
                <select id = "wayoftransportation">
                    <option value="1">On Foot</option>
                    <option value="2">By Car</option>
                    <option value="3">On Foot/By Car</option>     
                </select>
             </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Starting Point of Interest</label>
            <div class="col-md-10">
                <select class="js-example-basic" id="SelectList">
                    @foreach (var item in ViewBag.POIs.Items)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
        </div>



            <div class=" col-md-10 col-md-offset-2">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-4">Name</th>
                            <th class="col-xs-7">Description</th>
                        </tr>
                    </thead>
                    @foreach (var poi in ViewBag.POIs.Items)
                {
                        <tr>
                            <td class="col-xs-1"> <input type="checkbox" class="listaPOIS" id="@poi.ID" value="@poi.ID" /> </td>
                            <td class="col-xs-4"> @poi.Name  </td>
                            <td class="col-xs-7"> @poi.Description </td>
                        </tr>
                    }
                </table>

            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input value="Create" class="btn btn-default" id="cre" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var startTime;
    var type;
    var poisSelected = [];
    var wayoftransportation;

    function fillArray() {
        var select=document.getElementsByClassName("listaPOIS");
        poisSelected = [];
        for (var i = 0; i < select.length; i++) {
            if (select[i].checked == true) {
                poisSelected.push(select[i].value);

            }
        }
    }

    function getInfoItinerary() {

        fillArray();
        startTime = document.getElementById("startTime").value;
        type = document.getElementById("type").value;
        wayoftransportation = document.getElementById("wayoftransportation").value;
    }

    $(document).ready(function () {

        $('#SelectList').change(function () {
            for (var i = 0; i < poisSelected.length; i++) {
                document.getElementById(poisSelected[i]).disabled = false;
            }
            var elem = document.getElementById("SelectList");
            poisSelected = [];
            poisSelected.push(elem.value);
            
            document.getElementById(elem.value).checked = true;
            document.getElementById(elem.value).disabled = true;
        });

        $('#cre').click(function () {
            /*var data= Html.Raw(JsonConvert.SerializeObject(this.Model));*/
            getInfoItinerary();

            
            $.ajax({
            type: 'POST',
            traditional: true,
            url: '@Url.Action("CreateItineraryAction", "AdminItineraries")',
                data: ({ listPOIS: poisSelected,startTime:startTime,type:type, wayoftransportation: wayoftransportation }),
            success: function (result) {
                window.location = "https://localhost:44301/AdminPOIs/"
            }
        });
        });
    });


</script>

