﻿@model GoFetchAPI.Models.Itinerary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Itinerary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    <h4>POI's of this itinerary</h4>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
               Start Time
            </th>
            <th>
               POI Category
            </th>
            <th>
                POI Latitude
            </th>
            <th>
                POI Longitude
            </th>
            <th>
                POI Altitude
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.VisitList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.POI.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POI.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POI.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POI.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POI.Altitude)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "POI",new { id = item.ID }) 
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
