﻿@model IEnumerable<GoFetchAPI.Models.Hashtag>

@{
    ViewBag.Title = "Suggested Hashtags";
}

<h2>Suggested Hashtags</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POI.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POI.Name)
            </td>
            <td>
                @Html.ActionLink("Accept", "Accept", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID})
            </td>
        </tr>
    }

</table>
