﻿@model GoFetchAPI.Models.POI

@{
    ViewBag.Title = "Details";
}

<h2>View</h2>

<div>
    <h4>POI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTentative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTentative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

    </dl>
    <div>
        <h6>This POI can reach the following POI:</h6><br />
        @foreach (var POI in ((List<string>)ViewBag.TOList))
        {
            @POI<br />
        }
        <br />
        <h6>You can get to this POI by using these ones:</h6><br />
        @foreach (var POI in ((List<string>)ViewBag.FROMList))
        {
            @POI<br />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
