﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background:url(http://www.walldevil.com/wallpapers/h12/damask-wallpaper-background-blue-pattern.jpg) repeat center center;*/

    background-color: #fff; 
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                      linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
