﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PortoTours- Mobilizing Tourism</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PortoTours", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" id="poiMenu" data-toggle="dropdown" aria-expanded="false">
                            Points of Interest
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="poiMenu">
                            <li>@Html.ActionLink("Points of Interest", "Index", "AdminPOIs")</li>
                            <li>@Html.ActionLink("Suggestions", "IndexTentative", "AdminPOIs")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" id="hashtagMenu" data-toggle="dropdown" aria-expanded="false">
                            Hashtags
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="hashtagMenu">
                            <li>@Html.ActionLink("Hashtags", "Index", "AdminHashtags")</li>
                            <li>@Html.ActionLink("Suggestions", "IndexTentative", "AdminHashtags")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Default Itineraries", "Index", "AdminItineraries")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PortoTours</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   <!-- <script src='/Scripts/Connections.js' type="text/javascript"></script>-->
</body>
</html>
