﻿@model GoFetchAPI.ViewModels.POIHashtagsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>POI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POI.Category.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Category.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.VisitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.VisitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.IsTentative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.IsTentative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POI.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Longitude)
        </dd>

    </dl>
</div>

<div class="form-horizontal">
    <h4>
        Current Hashtags
    </h4>
    @foreach (var item in Model.POI.HashtagList)
    {
        <a>#@Html.Raw(item.Label)</a>
    }
</div>

@using (Html.BeginForm("AddHashtag", "POI", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.POI.ID)

    <div class="form-horizontal">
        <h4>
            Add new hashtag
        </h4>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control text-box", @style = "display:inline-block;" } })
                @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })

                <input type="submit" value="Add" class="btn btn-default" style="display: inline-block; vertical-align: baseline" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.POI.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
